body{
  background-color: #0747a6;
}


.container {
  width: 1200px;
  min-height: 140vh;
  margin: 0 auto;
  background-color: white;
}
.sections {
  width: 100%;
  min-height: 90vh;
  background-color:white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.unit {
  min-height: 80%;
  width: 24%;
  background-color:  #f0f2f5;

}


.createTask {
  width: 60%;
  height: 80vh;
  position: absolute;
  top: 10%;
  left: 20%;
  margin: 0 auto;
  background-color: #e5e9ee;
  border: 1px solid rgb(73, 73, 73);
}

.createCancel{
  width:25%;
  position:absolute;
  bottom:5%;
  right:8.5%;
}
.progressBar {
  width: 50%;
  height: 40vh;
  margin-top: 2%;
}
.titles{
  color:rgb(95, 92, 92);
  font-weight:500;
}
.task {
  width: 97%;
  height: 20vh;
  margin: 0 auto;
  padding:0px 10px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 2%;
}
.totalTasks {
  min-height: 90%;
}
.close {
  position: relative;
  top: 5px;
  left: 90%;
}
                  
.progr{
  height:4vh;
  
}

.gridBar{
height:80%;
display:grid;
grid-template-columns:20% 70%;
grid-auto-rows: 1fr;
align-items:center;
}

.bar{
  height:4vh;
  
}
h1 {
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: black;
}
h4{
  margin-left:2%;
}
h5{
  margin-top:0px;
}
a:hover {
  color: black;
}
textarea {
  resize: none;
}
.m-right {
  margin-right: 1%;
}
.m-left {
  margin-left: 5%;
}
